@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css">
</head>
<body>

<div class="text-center">
    <h1 class="display-4">Welcome To Tasty Treats</h1>
    <a href="/items" class="btn btns btn-grey">Items</a>
</div>

</body>
</html>
